@model AuthorViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}
else
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Yazar Listesi</h4>
                            <div class="table-responsive">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ad Soyad</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                            <th>Yazarın Blogları</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var author in Model.Authors)
                                        {
                                            count++;
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td><img src="@author.ImageUrl" width="50" height="50" style="margin-right:1rem; border-radius: 50%; object-fit: cover;" alt="@author.Name" />@author.Name</td>
                                                <td><a href="/Admin/Author/DeleteAuthor/@author.AuthorId" class="btn btn-danger">Sil</a></td>
                                                <td><a href="/Admin/Author/UpdateAuthor/@author.AuthorId" class="btn btn-succes">Güncelle</a></td>
                                                <td><a href="#" class="btn btn-dark">Bloglar</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="/Admin/Author/CreateAuthor" class="btn btn-outline-primary">Yeni Yazar Oluştur</a>
                            </div>

                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
}

