@model AboutViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}
else
{
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Banner Listesi</h4>
                            <div class="table-responsive">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Başlık</th>
                                            <th>Açıklama</th>
                                            <th>Resim Url</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var about in Model.Abouts)
                                        {
                                            count++;
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@about.Title</td>
                                                <td>@about.Description</td>
                                                <td>@about.ImageUrl</td>
                                                <td><a href="/Admin/About/DeleteAbout/@about.AboutId" class="btn btn-danger">Sil</a></td>
                                                <td><a href="/Admin/About/UpdateAbout/@about.AboutId" class="btn btn-success">Güncelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="/Admin/About/CreateAbout" class="btn btn-outline-primary">Yeni Hakkımızda Oluştur</a>
                            </div>

                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
}

